.backgroundImage {
  position: absolute;
  width: 30%;
  left: 0;
  /* top: 10px; */
  height: 100vh;
  background-image: url("../../public/assets/home/home.png");
  background-position: unset;
  z-index: 0;
  transition: 1s ease-in-out;
  background-repeat: no-repeat;
}

.backgroundImage span, .backgroundImageFullWidth span {
  color: white;
  margin: 50px 0 20px 10%;
  display: block;
  width: 100px;
  font-size: 17px;
}


.backgroundImageFullWidth {
  position: absolute;
  width: 100%;
  left: 0;
  /* top: 10px; */
  height: 100vh;
  background-image: url("../../public/assets/home/home.png");
  background-position: unset;
  z-index: 0;
  transition: 1s ease-in-out;
  background-repeat: no-repeat;
}

.whiteBall {
  width: 4.5rem;
  height: 4.5rem;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 7.5rem;
  left: 1.5rem;
  transition: 1s ease-in-out;
}

.whiteBallMoving {
  width: 6rem;
  height: 6rem;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 40.5rem;
  left: 1.5rem;
  transition: 1s ease-in-out;
}

@media (min-width: 500px) {
  .backgroundImage {
    width: 60%;
    left: 0;
    height: 800px;
    background-size: cover;
    background-image: url("../../public/assets/home/starts.webp");
    background-position: center;
  }

  .backgroundImageFullWidth {
    width: 100%;
  left: 0;
  height: 800px;
  background-position: center;
  background-size: cover;
  z-index: 0;
  background-image: url("../../public/assets/home/starts.webp");
  transition: 1s ease-in-out;
  background-repeat: no-repeat;
  }
}