.backgroundImage {
  position: absolute;
  width: 40%;
  left: 0;
  top: 10px;
  height: 760px;
  background-image: url("../../public/assets/home/home.png");
  background-position: center;
  z-index: 0;
  transition: 1s ease-in-out;
  background-repeat: no-repeat;
}

.backgroundImage span, .backgroundImageFullWidth span {
    color: white;
  margin: 50px 0 20px 22%;
  display: block;
  width: 100px;
  font-size: 17px;
}


.backgroundImageFullWidth {
  position: absolute;
  width: 100%;
  left: 0;
  top: 10px;
  height: 760px;
  background-image: url("../../public/assets/home/home.png");
  background-position: center;
  z-index: 0;
  transition: 1s ease-in-out;
  background-repeat: no-repeat;
}

.whiteBall {
  width: 4.5rem;
  height: 4.5rem;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 7.5rem;
  left: 2.5rem;
  transition: 1s ease-in-out;
}

.whiteBallMoving {
  width: 6rem;
  height: 6rem;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 40.5rem;
  left: 1.5rem;
  transition: 1s ease-in-out;
}