.nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav ul li {
  list-style-type: none;
  margin: 1.5rem 0;
  font-size: 2rem;
}

.nav ul li a {
  text-decoration: none;
}

.container {
  position: absolute;
  right: 3rem;
  z-index: 2;
  display: flex;
}

.container li {
  list-style-type: none;
  margin: 0 2rem;
}

.button {
  padding: 1rem 2rem;
}
