.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 180px;
}

.container:hover .secondBall {
    left: 1rem;
}

.container:hover .thirdBall {
    left: 1rem;
}

.container:hover .fourthBall {
    left: 1.1rem;
}

.container:hover .fifthBall {
    left: 1.2rem;
}

.container:hover .sixthBall {
    left: 1.3rem;
}


.firstBall {
    border: 2px solid black;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    position: absolute;
    left: 1rem;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 1s ease-in-out;
}

.secondBall {
    border: 2px solid black;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    position: absolute;
    left: 2.5rem;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 1s ease-in-out;
}

.thirdBall {
    border: 2px solid black;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    position: absolute;
    left: 4.9rem;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 1s ease-in-out;
}

.fourthBall {
    border: 2px solid black;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    position: absolute;
    left: 8.2rem;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 1s ease-in-out;
}

.fifthBall {
    border: 2px solid black;
    border-radius: 50%;
    width: 118px;
    height: 118px;
    position: absolute;
    left: 12.8rem;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 1s ease-in-out;
}

.sixthBall {
    border: 2px solid black;
    border-radius: 50%;
    width: 138px;
    height: 138px;
    position: absolute;
    left: 18.3rem;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 1s ease-in-out;
}