.footerControl {
    background-color: #181818;
    color: white;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

@media (min-width: 900px ) {
    .footerControl {
        flex-direction: row-reverse;
        width: 100%;
    }

    .liFlexBetweenDesign a{
        color: white;
    }

    .desktopControl {
        width: 90%;
        margin: 20px auto 0;
    }

    .footerEndTitles {
        position: absolute;
        bottom: 20px;
        right: 45%;
    }
}

.footerControl h2, .footerControl h3 {
    width: 90%;
    margin: 5px auto;
}

.changeOpacity {
    opacity: 0.5;
}

.brands {
    width: 90%;
    margin: 3rem auto;
    font-size: 32px;
    display: flex;
}

.brands [data-icon]:nth-child(2) {
    margin: 0 1rem;
}

.copy {
    color: white;
    font-size: 15px;
    opacity: 0.5;
}

.privacy {
    color: white;
    font-size: 15px;
}


.footerEndTitles span:nth-child(1) {
    margin: 0 1rem;
}