.ulControl {
    width: 90%;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
}

.liFlexBetweenDesign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.liFlexBetweenDesign a {
    font-size: 30px;
}

.liFlexBetweenDesign span {
    border-top: 1px dashed white;
    border-width: 4px;
    width: 70%;
    transform: translateX(15%);
}

.liFlexBetweenDesign p{
    font-size: 16px;
    width: 100%;
    text-align: right;
}

.hideIfNotActive {
    display: none;
}

.footerControl {
    background-color: #181818;
    color: white;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (min-width: 900px ) {
    .footerControl {
        flex-direction: row-reverse;
        width: 100%;
    }

    .liFlexBetweenDesign a{
        color: white;
    }

    .desktopControl {
        width: 50%;
        margin: auto;
    }

    .footerEndTitles {
        position: absolute;
        bottom: 20px;
        right: 45%;
    }
}

.footerControl h2, .footerControl h3 {
    width: 90%;
    margin: 5px auto;
}

.changeOpacity {
    opacity: 0.5;
}

.brands {
    width: 90%;
    margin: 3rem auto;
    font-size: 32px;
    display: flex;
}

.brands [data-icon]:nth-child(2) {
    margin: 0 1rem;
}

.copy {
    color: white;
    font-size: 15px;
    opacity: 0.5;
}

.privacy {
    color: white;
    font-size: 15px;
}

.footerEndTitles {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.footerEndTitles span:nth-child(1) {
    margin: 0 1rem;
}