.container {
  width: 90%;
  margin: 3rem auto 0;
}

.container h1 {
    font-weight: 900;
    width: 100%;
    font-size: 60px;
}

.container h2 {
    font-size: 30px;
}

.line {
  width: 65px;
  height: 5px;
  background-color: #181818;
  margin: 10px 0 20px;
}
.openPositions {
    background-color: yellow;
    width: 100%;
    margin: 2rem 0;
}

.openPositions div:nth-child(even) {
    float: left;
}

.position:last-child {
    margin-bottom: 5rem;
}

.position {
  background-color: #181818;
  width: 90%;
  float: right;
  padding: 20px 30px;
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.position h1 {
    color: white;
    text-transform: capitalize;
}

.position p {
    color: white;
    margin: 0.5rem 0;
}

.position button {
    border: none;
    background-color: #ececec;
    color: white;
    border-radius: 50%;
    float: right;

}

.arrowRight {
    position: relative;
    padding: 5px;
    background: #f7f7f7;
    height: 50px;
    width: 50px;
    transition: all 0.2s linear;
    border-radius: 50%;
}

.arrowRight::after {
  content: "";
  position: absolute;
  left: 13px;
  z-index: 11;
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid rgb(46, 46, 46);
  border-left: 2px solid rgb(29, 29, 29);
  top: 16px;
  transform: rotate(135deg);
}

.flexRow {
    display: flex;
}

.marginTop {
    margin-top: 5rem;
}

.logoPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body  {
    -webkit-box-shadow: 10px 0px 13px -7px #000000, 13px -35px 14px -7px rgba(199,199,199,0.02); 
    box-shadow: 10px 0px 13px -7px #000000, 13px -35px 14px -7px rgba(199,199,199,0.02);
    height: 205px;
    background-color: white;
    padding-top: 20px;
    z-index: 20;
}

.logoPage h1 {
    font-size: 65px;
    font-weight: bolder;
    margin-left: -50px;
    margin-top: 45px;
    margin-left: -22px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: -5px;
}

.flexRow p {
    line-height: 1.5rem;
    font-size: 20px;
    margin-top: calc(1rem - 5px);
}

.container p {
    margin-bottom: 2rem;
}