@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
/* @import './articleOne.module.css'; */

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

/* global styles for the slug articles */

.content-slug {
  margin-top: 50px;
}

.line-slug {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 1rem 0;
}

.mainBlock-slug {
  display: flex;
  justify-content: space-between;
}

.flexColumn-slug {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.flexColumn-slug h5 {
  margin: 10px 0;
  color:#f84463;
  font-size: 20px;
  font-family: Montserrat;
}

.flexColumn-slug span {
  display: block;
  font-size: 18px;
  line-height: 1.22em;
  font-weight: 500;
  font-stretch: normal;
  font-family: Montserrat;
}

/* global styles for the slug articles */


/* Article One */

@import url('./articleOne.module.css');

/* end article One */